
.blue, .red, .green, .orange, .yellow {
    height: 100px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.blue {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.red {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;

}

.orange {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}






