.app-container {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.sandwich {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  
}

button:hover {
  background-color: #6eb300;
  transform: scale(2) rotate(360deg);
}