/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Стили для заголовка */
h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0;
    color: #ff6600;
}

/* Стили для подзаголовков */
h2 {
    font-size: 24px;
    color: #007bff;
}

/* Стили для параграфа */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Стили для списка */
ul {
    list-style-type: square;
    margin-left: 20px;
    padding-left: 0;
}

/* Стили для ссылки */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стили для секции */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для контейнера заголовка */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Стили для подвала */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* Стили для элемента с id "special-paragraph" */
#special-paragraph {
    font-style: italic;
    color: #555;
    transition: opacity .3s ease-in-out;

}
#special-paragraph:hover {
    opacity: 0.5;
}