* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: $main-color;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}
h2 {
  font-size: 1.375rem;
  font-weight: 600;
}
h3 {
  font-size: 1.125rem;
  font-weight: 600;
}
h4 {
  font-size: 0.938rem;
  font-weight: 500;
}

a, button, select {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
p, li, label {
  font-size: 14px;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

li {
 list-style: none;
}

input, textarea {
  outline: none;
}

.input-group {
  width: 100%;
  max-width: 19rem;
  margin: 0 .5rem 2rem 0;
  display: flex;
  align-items: center;

  position: relative;

  &__label {
    color: $muted-color;
    position: absolute;
    left: 1rem;
    top: .7rem;
    pointer-events: none;

    transition: all .2s ease;

    &--filled {
      color: $accent-color;
      font-size: .6rem;
      top: .1rem;;
    }
  }

  &__icon {
    width: 1.2rem;
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }

  &__input {
    width: 100%;
    padding: .95rem 1rem .7rem;
    font-size: .9rem;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: .75rem;

    &:focus, &:-webkit-autofill {
      border-color: $accent-color;

      & + .input-group__label {
        color: $accent-color;
        font-size: .6rem;
        top: .1rem;
      }

      & ~ .input-group__icon {
        filter: invert(32%) sepia(85%) saturate(1300%) hue-rotate(173deg) brightness(80%) contrast(105%);
      }
    }

    &--error, &--error:focus {
      border-color: $error-color;
      color: $error-color;

      & ~ .input-group__icon {
        filter: invert(39%) sepia(35%) saturate(1191%) hue-rotate(330deg) brightness(96%) contrast(95%);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .input-group {
    margin-bottom: 1rem;
  }
}

.container {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: auto;
}

.form {
  &__error-message {
    margin-top: 1rem;
  }
}

.text-muted {
  color: $muted-color;
}

.text-danger {
  color: $error-color;
}

.link--primary {
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}

.link--underlined {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.button {
  font-size: 13px;
  font-weight: 700;
  border-radius: 12px;

  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }

  &:disabled,
  &[disabled]{
    background-color: $muted-color;
    color: $main-color;
    cursor: not-allowed;

    &:hover {
      background-color: $muted-color;
    }
  }
}

.button--primary {
  color: #fff;
  background-color: $accent-color;
  border: 1px solid $accent-color;

  &:hover {
    background-color: #fff;
    color: $accent-color;
  }
}

.button--red {
  color: white;
  background-color: $error-color;

  &:hover {
    background-color: $error-color-dark;
  }
}

.button--grey {
  color: $muted-color;
}

.button--black {
  color: #151515;
}