$main-color: #151515;
$accent-color: #007CBB;
$muted-color: #A9A9A9;
// $error-color: #C7522D;
$error-color: #E6704B;
$error-color-light: #F7C6B7;
$error-color-light-2: #EB8D70;
$error-color-dark: #C7522D;

$sidebar-width: 13rem;
$cart-modal-width: 25rem;
$cart-modal-bottoms-section: 10.7rem;

$text-small: .8rem;