<div class="card">
    <div class="card-content">
        <span class="card-title">Benutzerkonto erstellen</span>
        <div class="input-field">
            <input id="email" type="email" required>
            <label for="email">E-Mail:</label>
        </div>
        <div class="input-field">
            <input id="password" type="password" required>
            <label for="password">Passwort:</label>
        </div>
    </div>
    <div class="card-action">
        <button class="modal-action btn waves-effect">Erstellen</button>
    </div>
</div>